<% if current_user %>
<%= link_to "ログアウト", destroy_sessions_path, method: :delete %>
  <p>既にログイン中です。ログアウトするか、他の操作を続けてください。</p>
<% else %>
  <!-- ログインフォームや新規登録フォームのコード -->

<h2>ログイン</h2>
<%= form_with url: create_sessions_path ,local: true,methd: :post do |form| %>
  <%= form.label :email%>
  <%= form.email_field :email %>
  <%= form.label :password%>
  <%= form.password_field :password %>
  
  <%= form.submit "ログイン" %>
<% end %>
<% end %>